*{
    padding: 0; 
    margin: 0;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav{
    display: flex;
justify-content: center;

}
.lwst{
    display: flex;
    gap: 5vh;
   
}

.lwst>a:hover{
    color: red;

}
.lwst>a{
    color: black;

}
.right{
    background-color: white;
    color: red;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.123);
    padding: 1vh 2vw;
}
.tanya{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 15vh;
}
.talta{
    width: 15%;
    color: #1a1a5f; 
    display: flex;
    flex-direction: column;
    gap: 2vh; 
}

.talta>a{
    width: 50%;
    color: white;
    background-color: rgb(202, 0, 0);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.graphic{
    padding: 25px;
    width: 15%;
    padding-left: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    box-shadow: 0.5px 0.5px 2px 2px rgba(128, 128, 128, 0.199);
}

.graphic>p{
  font-size: medium;
  width: 90%;
  
}


.graphic>h1{
  color:#1a1a5f ;
  width: 90%;
}
.webdev{  padding: 25px;
    width: 15%;
    padding-left: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    box-shadow: 0.5px 0.5px 2px 2px rgba(128, 128, 128, 0.199);
}
.webdev>p{
    font-size: medium;
    width: 90%;
    
  }
  
  .webdev>h1{
    color:#1a1a5f ;
    width: 90%;
  }
  .tanya{ 
     align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15vh;
  
} 
.gauche>p{
   width: 70%;
   padding: 10px;
}
.gauche>h1{
    width: 30%;
    padding: 10px;
    color: rgb(3, 3, 79);
 }
 .gauche> button{
 background-color: red;
 border: none;
 border-radius: 20px;
 padding: 10px;
 color: white;
 }
 .lnk{
    color: rgb(52, 52, 176);
    padding: 10px;
 }


 
  
 
